Blink/build/*
Blink/.pioenvs/*

ADC/build/*
ADC/.pioenvs/*

DMA/build/*
DMA/.pioenvs/*

Emon/build/*
Emon/.pioenvs/*

Emon1CT/build/*
Emon1CT/.pioenvs/*

Emon1CT_ds18b20/build/*
Emon1CT_ds18b20/.pioenvs/*

Emon3CT/build/*
Emon3CT/.pioenvs/*

BluePillBlink/build/*
BluePillBlink/.pioenvs/*

emonTxshield_dBC/build/*
emonTxshield_dBC/.pioenvs/*

dBC_txshield_demo/build/*
dBC_txshield_demo/.pioenvs/*

MBUS/MBUS1/build/*
MBUS/MBUS1/.pioenvs/*

BlinkCB/build/*
BlinkCB/.pioenvs/*

Emon3CT_CB/build/*
!Emon3CT_CB/build/Emon3CT_CB.bin
Emon3CT_CB/.pioenvs/*

RFM69/build/*

Emon3CT_RFM69/build/*

temp/*

test/*
ADC/.pio/build/project.checksum
ADC/.pio/build/stm32f303/.sconsign.py27.dblite
ADC/.pio/build/stm32f303/firmware.bin
ADC/.pio/build/stm32f303/firmware.elf
ADC/.pio/build/stm32f303/FrameworkBSP/stm32f3xx_nucleo.o
ADC/.pio/build/stm32f303/FrameworkCMSISDevice/gcc/startup_stm32f303xe.o
ADC/.pio/build/stm32f303/FrameworkCMSISDevice/system_stm32f3xx.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_adc.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_adc_ex.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_can.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_cec.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_comp.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_cortex.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_crc.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_crc_ex.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_dac.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_dac_ex.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_dma.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_flash.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_flash_ex.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_gpio.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_hrtim.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_i2c.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_i2c_ex.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_i2s.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_i2s_ex.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_irda.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_iwdg.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_nand.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_nor.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_opamp.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_opamp_ex.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_pccard.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_pcd.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_pcd_ex.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_pwr.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_pwr_ex.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_rcc.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_rcc_ex.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_rtc.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_rtc_ex.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_sdadc.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_smartcard.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_smartcard_ex.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_smbus.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_spi.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_spi_ex.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_sram.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_tim.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_tim_ex.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_tsc.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_uart.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_uart_ex.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_usart.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_hal_wwdg.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_adc.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_comp.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_crc.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_dac.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_dma.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_exti.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_fmc.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_gpio.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_hrtim.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_i2c.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_opamp.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_pwr.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_rcc.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_rtc.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_spi.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_tim.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_usart.o
ADC/.pio/build/stm32f303/FrameworkHALDriver/Src/stm32f3xx_ll_utils.o
ADC/.pio/build/stm32f303/libFrameworkBSP.a
ADC/.pio/build/stm32f303/libFrameworkCMSISDevice.a
ADC/.pio/build/stm32f303/libFrameworkHALDriver.a
ADC/.pio/build/stm32f303/src/adc.o
ADC/.pio/build/stm32f303/src/gpio.o
ADC/.pio/build/stm32f303/src/main.o
ADC/.pio/build/stm32f303/src/stm32f3xx_hal_msp.o
ADC/.pio/build/stm32f303/src/stm32f3xx_it.o
ADC/.pio/build/stm32f303/src/system_stm32f3xx.o
ADC/.pio/build/stm32f303/src/usart.o
